.expo/
.expo-shared/
.android/
node_modules/

google-services.json
google-services*.json

.env.*
.next/
out/
dist/
build/
.expo/
.expo-shared/
android/build/
ios/build/
.vercel/
google-services*.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*
!.env.example

prisma/dev.db
prisma/dev.db-journal


firebase-service-account.json
serviceAccountKey.json
*.key
*.pem


.DS_Store
Thumbs.db


.vscode/
.idea/


*.tsbuildinfo


*.apk
*.aab


coverage/
.cache/


tmp/
temp/

